.sesion {
	text-align: right;
	background-color: #2d2d2d;
}
.nickname-label {
	color: White;
	font-size: 16px;
	font-family: DroidLogo;
	vertical-align: top;
	text-align: right;
}
.sesion-label {
	color: White;
	font-size: 16px;
	font-family: DroidLogo;
	vertical-align: top;
	text-align: left;
}
.logout-button {
	color: Black;
	border-top: dashed;
	border-right: hidden;
	border-bottom: dashed;
	border-left: hidden;
	font-size: 16px;
	font-family: DroidLogo;
	background-attachment: fixed;
	background-color: #ffff66;
	background-repeat: repeat-x;
}
.global {
	background-color: #fafaff;
}
.header {
	vertical-align: middle;
	text-align: center;
}
.home {
	background-color:#ffffff;	
}
/* Add css rules here for your application. */

